body{
  background-color: rgb(236, 227, 206);
  text-align: center;
  color: rgb(115, 144, 114);
  font-size: 35px;
}
h1 {
    font-size: 85px;
    font-family: serif;
}
hr{
    color: rgb(58, 77, 57);
    border: 3px solid;


  }
#moodify{
    color: rgb(79, 111, 82);
  }

#moodify:hover{
      cursor: pointer;
      color: rgb(58, 77, 57);
      transition: 0,5s;
  }  

/*button*/
#loginButton{
  width: 130px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
#loginButton:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
#loginButton:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }