<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a'MUSE</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
   

</head>
<body>
    <!-- MAIN CONTENT -->
  
    <main id="about-one">

        
         <!-- CUSTOM CURSOR -->
         <div class="cursor scale"></div>
         <div class="cursor-two scale"></div>
         <!-- CUSTOM CURSOR -->


        <div id="preloader">
            <div class="p">
                <img src="/static//headphone.png" alt="headphone">
            </div>
            <div class="p">Use Headphone For Better Experience.</div>
        </div>

        <div id="about-one-content">
                
            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                   <a href="index-two.html" class="text">a'MUSE</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->


  
<div class="scrolling-part">
      
</div>
         
          
<div class="heading">
    <span class="text">
      ABOUT OUR PROJECT
    </span> 
 </div>    



</div>
<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     MOODIFY
    </div>
    <div class="about-text-content  text-scroll">
     Moodify offers song recommendations based on the user’s mood. It suggests individual songs that align with how the user is feeling. This innovative approach ensures a personalized and emotionally resonant music experience for each user. 🎵
    </div>
    
   </div>
</div>
</div>
<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     QUIZICAL
    </div>
    <div class="about-text-content  text-scroll">
      Our project is an engaging quiz game where users listen to a snippet of a song and guess its genre. This interactive experience tests the user's musical knowledge across various genres, providing both entertainment and a unique way to discover new music. It's a fun challenge for music lovers of all levels! 🎵
    </div>
    
   </div>
</div>>



<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     LyricSage
    </div>
    <div class="about-text-content  text-scroll">
      Our project is a LyricSage that takes a song's lyrics as input from the user and generates a concise summary. This tool distills the essence of the song, providing users with a quick understanding of its theme and content. It's a novel way to explore music! 🎵
    </div>
    
   </div>
</div>

<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     KeyDM
    </div>
    <div class="about-text-content  text-scroll">
      Our project merges keyboard functionality with synthesizer capabilities, enabling musical expression through key inputs. This innovation transforms keystrokes into a creative symphony, allowing users to seamlessly produce, modify, and play diverse sounds. It revolutionizes music creation by integrating a synthesizer within the conventional keyboard interface.
    </div>
    
   </div>
</div>
<div class="signature">
   <span class="text-scroll"> a'MUSE</span> 
</div>



             
 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
  <img src="/static/headphone.png" title="headphone zone" class="text" alt="headphone">
</div>
 <!-- HEADPHONE IMG -->

 
        </div>
    </div>



    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
      <div class="navigation-logo hover opacity">
        <a href="#" class="text">a'MUSE</a>
       </div>
       <ul class="navigation-ul">
        <li>
          <a
            href="http://localhost:5000"
            data-text="Home"
            data-img="/static/studio-3.jpg"
            >Home</a
          >
        </li>
        <li>
          <a
            href="http://localhost:5000/about"
            data-text="About"
            data-img="/static/album-thumbnail-nine.jpg"
            >About</a
          >
        </li>
        <li>
          <a
            href="http://localhost:5000/moodify"
            data-text="Moodify"
            data-img="/static/studio-3.jpg"
            >Moodify</a
          >
        </li>
        <li>
          <a
            href="http://localhost:5000/summary"
            data-text="LyricSage"
            data-img="/static/studio-3.jpg"
            >LyricSage</a
          >
        </li>
        <li>
          <a
            href="http://localhost:5000/keydm"
            data-text="KeyDM"
            data-img="/static/album-thumbnail-four.jpg"
            >KeyDM</a
          >
        </li>
        <li>
          <a
            href="http://localhost:5000/quizzical"
            data-text="Quizzical"
            data-img="/static/about-img.jpg"
            >Quizzical</a
          >
        </li>
        
        

       
        <li>
          <a
            href="http://localhost:5000/contact"
            data-text="Contact"
            data-img="/static/album-thumbnail-four.jpg"
            >Contact</a
          >
        </li>
      </ul>
      <div class="navigation-close hover about-close opacity">
          <div class="navigation-close-line"></div>
          <div class="navigation-close-line"></div>
        </div>
  
          <div class="project-preview"></div>
  
          
   <!-- HEADPHONE IMG -->
   <div class="headphone-navigation opacity">
      <img src="/static/" title="headphone zone" class="text" alt="headphone">
    </div>
     <!-- HEADPHONE IMG -->
  
  
      <!-- SOCIAL MEDIA LINKS -->
      <div class="social-media-links-navigation">
          <ul>
              <li ><a href="#"  class="text hover opacity">YT</a></li>
              <li ><a href="#"  class="text hover opacity">FB</a></li>
              <li ><a href="#"  class="text hover opacity">IG</a></li>
          </ul>
      </div>
        <!-- SOCIAL MEDIA LINKS -->
  
  </div>
  
  <!-- NAVIGATION CONTENT -->




    </main>
    <!-- MAIN CONTENT -->

<script src="/static/jquery.min.js"></script>
<script src="/static/bez.js"></script>
<script src="/static/pace.js"></script>
<script src="/static/index.js"></script>
</body>
</html>