<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodify</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

   <!--favicon-img--> 
   <link rel="icon" type="image/png" href="/static/favicon.jpg">
   <!--favicon-img-->

    <link rel="stylesheet" href="/static/css/index.css">
   

</head>
<body>
    <main id="blog-single">


           <!-- CUSTOM CURSOR -->
           <div class="cursor scale"></div>
           <div class="cursor-two scale"></div>
           <!-- CUSTOM CURSOR -->
  
          <!-- PRELOADER -->
          <div id="preloader">
              <div class="p">
                  <img src="/static/headphone.png" alt="headphone">
              </div>
              <div class="p">Moodify!</div>
          </div>
          <!-- PRELOADER -->
  
  
          <div id="blog-single-content">
  
    <!-- NAVIGATION -->
    <div class="navigation">
      <div class="logo hover ">
         <a href="index-two.html" class="text">a'Muse</a>
      </div>
      <div class="menu-bar hover ">
          <div class="menu-bar-name text">
              Menu
          </div>
          <div class="menu-bar-lines text">
              <div class="menu-bar-line"></div>
              <div class="menu-bar-line"></div>
          </div>
      </div>
  </div>
  <!-- NAVIGATION -->
  
  
  
  <!-- HEADING -->
  <div class="heading">
      <div class="text">
        
      </div>
  </div>
  
  <!-- HEADING -->

  <div class="center">


 <!-- BLOG IMG -->
 <div class="blog-img">

  <img src="{{data['image']}}">

  </div>
  <!-- BLOG IMG -->

  

  <div class="center-para">

  <!-- BLOG TEXT -->
<div class="blog-text">


    


  <!-- BLOG HEADING -->
  <div class="blog-heading text-scroll">
    <h2><u> Heres a song: <a href="{{data['link']}}"> {{data["song"]}}</a> by {{ data["artist"] }}</u></h2>
  </div>

  <!-- BLOG HEADING -->


    <!-- PARAGRAPH -->
    <div class="para text-scroll">
      {{generated_summary}}
    <!-- PARAGRAPH -->


   


    

  

       
</div>

</div>

  <!-- BLOG TEXT -->




  </div>



  



  
 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="/static/headphone.png" title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->


  
<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->

             </div>




               <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
          <a href="#" class="text">a'Muse</a>
         </div>
         <ul class="navigation-ul">
          <li>
            <a
              href="http://localhost:5000"
              data-text="Home"
              data-img="/static/studio-3.jpg"
              >Home</a
            >
          </li>
          <li>
            <a
              href="http://localhost:5000/about"
              data-text="About"
              data-img="/static/album-thumbnail-nine.jpg"
              >About</a
            >
          </li>
          <li>
            <a
              href="http://localhost:5000/moodify"
              data-text="Moodify"
              data-img="/static/studio-3.jpg"
              >Moodify</a
            >
          </li>
          <li>
            <a
              href="http://localhost:5000/summary"
              data-text="LyricSage"
              data-img="/static/studio-3.jpg"
              >LyricSage</a
            >
          </li>
          <li>
            <a
              href="http://localhost:5000/keydm"
              data-text="KeyDM"
              data-img="/static/album-thumbnail-four.jpg"
              >KeyDM</a
            >
          </li>
          <li>
            <a
              href="http://localhost:5000/quizzical"
              data-text="Quizzical"
              data-img="/static/about-img.jpg"
              >Quizzical</a
            >
          </li>
          
          

         
          <li>
            <a
              href="http://localhost:5000/contact"
              data-text="Contact"
              data-img="/static/album-thumbnail-four.jpg"
              >Contact</a
            >
          </li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="/static/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li ><a href="#"  class="text hover opacity">YT</a></li>
                <li ><a href="#"  class="text hover opacity">FB</a></li>
                <li ><a href="#"  class="text hover opacity">IG</a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->





    </main>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/bez.js"></script>
    <script src="/static/pace.js"></script>
    <script src="/static/index.js"></script>


</body>
</html>